@@ -2,13 +2,21 @@
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Ll]ibrary/	
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
IGB101 Project/Library/
IGB101 Project/Temp/
IGB101 Project/Obj/
IGB101 Project/UserSettings/
IGB101 Project/Build/
IGB101 Project/Builds/
IGB101 Project/Logs/
IGB101 Project/Library

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
*.vsidx
